@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: lightcyan;
    background-image: url('http://newevolutiondesigns.com/images/freebies/nature-hd-background-2.jpg');
}

img {
    height: 50px;
    opacity: 0.5;
    padding-right: 15px;
}

img:hover {
    opacity: 0.75;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
    font-weight: bold;
}

main {
    text-align: right;
    padding-right: 10px;
}

a {
    color: #fff;
    text-decoration: none;
}

nav {
    background-color: rgba(0, 0, 0, 0.5);
}

ul {
    list-style-type: none;
    display: flex;
}

ul li {
    padding:25px;
}